/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* BACKGROUND */

.background {
    width: 100%;
    min-width: 1000px;
    height: 100vh;
    background-color: #D8DBD5;
    position: relative;
}

.background-top {
    height: 100px;
    background-color: #009688;
}

/* APP CONTAINER */
.app-container {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}
/* left column  */
.left-col {
    width: 40%;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: white;
}


.left-head {
    width: 100%;
    background-color: #EAEAEA;
    border-right: 1px solid darkgray;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.user{
    display: flex;
    align-items: center;
}

.user-image-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #8EDAFC;
    overflow: hidden;
    margin-right:8px ;
}

.user-image-container img {
    width: 100%;
}

.user-icons span {
    margin: 8px;
    color:#B1B1B1 ;

}

/* left column bottom */
.left-column-bottom {
    width: 100%;
    height: calc(90vh - 50px);
    overflow-y: hidden;
}

/* notification */

.notification {
    width: 100%;
    height: 75px;
    background-color:#8EDAFC ;
    padding: 12px;
    display: flex;
    align-items: center;
}

.contacts-image-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification .contacts-image-container i {
    width: 100%;
    color:#8EDAFC ;
}

/* contact search */
.find {
    width: 100%;
    height: 35px;
    background-color: #FFFDFA ;
    display: flex;
    align-items: center;
    justify-content: center;

}

.find input {
    width: 78%;
    height: 31px;
    border: 1px solid darkgrey;
    border-radius: 0 3px 3px 0;
    
}

.find-icon {
    width: 20%;
    height: 31px;
    border: 1px solid darkgrey;
    border-radius: 3px 0 0 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.find-icon i {
    color: #B1B1B1;
    font-size: 12px;
}
/* all contacts */

.all-contacts {
    width: 100%;
    height: calc(100% - 110px);
    overflow-y: auto;
}

.all-contacts .user {
    padding: 5px 5px 5px 10px;
    display: flex;
    
}

.all-contacts .user span.user-name{
    align-self: flex-start;
}

.all-contacts li {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #E9EBEB;
}

.all-contacts .time {
    padding: 5px;
    color: #B1B1B1;
}

.contacts-image-container img{
    width: 100%;
}

/* right column */
.right-col {
    width: 60%;
    flex-shrink: 0;
    flex-grow: 0;
}

.right-head {
    width: 100%;
    background-color: #EAEAEA;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.right-head .info{
    display: flex;
    flex-direction: column;
}

.right-head .last-access {
    color: #B1B1B1;
}

.right-column-central {
    width: 100%;
    height: calc(90vh - 100px);
    overflow-y: auto;
    background-image:url(../img/mine.jpg);
    display: flex;
}

.messages-col {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.message-card {
    width: 40%;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    margin: 4px 0;
}

.message-card.received {
    align-self: flex-end;
    background-color: #D5F9BA;
}

.message-card.sent {
    align-self: flex-start;
    background-color: #FFFFFF;
}


.message-text {
    padding: 10px;
}

.message-time {
    color:#B1B1B1;
    align-self: flex-end;
    padding: 2px;
}

/* FOOTER */
.footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#F3EEEA ;
    overflow-y: hidden;
    padding: 0 20px;
}

.footer-emoji {
    width: 10%;
    color: #6B7376;
}

.footer-message {
    width: 80%;
}

.footer-icon {
    width: 10%;
    text-align: right;
    color: #6B7376;
}

.footer input {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 3px;

}

